body {
  background-color: #fff;
  font-family: Roboto;
}

.navbar-top-most {
  margin-bottom: 0;
}

.welcome {
  color: #008000;
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
}

.my-cart-icon {
  line-height: 5px;
  width: 30px;
  height: auto;
  display: block;
}
.favourites:before, .checklist:before {
  background-position: 0 top;
  content: "";
  display: block;
  height: 30px;
  text-align: center;  
  background-repeat: no-repeat;
  margin-left: 25%;
}
.checklist:before{
  background-image: url('../../images/icons/183.png');
}
.favourites:before{
  background-image: url('../../images/icons/566.png');
  background-size: 35px 100%;
  margin-left: 15%;
}
.logo-navbar-nav li a{
  padding-top: 5px;
  padding-bottom:5px;
}
.search-navbar{
  /*padding: 10px !important;*/
  /*border:1px solid #008000;*/
  /*display: inline-block;*/
}
.search-text {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border: 1px solid green;
  width: 500px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.search-category {
  border: 1px solid green;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.search-button {
  background-color: green;
  border-color: green
}

.search-icon {
  font-size: 19px;
  line-height: 18px;
  color: #fff;
}

.my-group .form-control {
  width: 50%;
}

.feature-item{
  border: 1px solid #ccc;
  min-height: 150px;
}

.form-control{
  border: 1px solid #008000;
}

.header-button{
  margin-top: 20px;
}
.header-button-four{
  margin-top: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  display:inline-block;
}







/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
    background-color: #fff;
}

.modal-content {
    background-color: #ececec;
    background-color: #fafafa;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

