<template>
  <h2>Change Password</h2>
  <div class="divider"></div>
  
  <form role="form" submit.delegate="submit()">
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="old_password" class="control-label">Old Password</label>
        <input type="password" id="old_password" class="form-control" value.bind="entity.old_password & validate:password_rules">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="password" class="control-label">New Password</label>
        <input type="password" id="password" class="form-control" value.bind="entity.password & validate:password_rules">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="password_confirmation" class="control-label">Password Confirmation</label>
        <input type="password" id="password_confirmation" class="form-control" value.bind="entity.password_confirmation & validate:password_rules">
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default">Change Password</button>
    </div>
  </form>
</template>
